# Data cleaning and feature engineering

In [4]:
# import libraries
import numpy as np
import pandas as pd

In [5]:
# read the dataframe
df = pd.read_csv('../datasets/raw/Solcast_PT60M.csv')

In [6]:
# printout the column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity', 'Dhi',
       'Dni', 'Ghi', 'PrecipitableWater', 'RelativeHumidity',
       'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'],
      dtype='object')

In [7]:
# select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [8]:
# randomly display 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
21691,2021-06-21T21:00:00Z,2021-06-21T20:00:00Z,22.5,0,0,0,33.2,85.8,934.9,260,3.7
5598,2019-08-21T08:00:00Z,2019-08-21T07:00:00Z,27.6,218,0,218,44.8,66.9,935.7,278,6.6
4918,2019-07-24T00:00:00Z,2019-07-23T23:00:00Z,23.5,0,0,0,53.6,90.7,930.1,250,3.6
6613,2019-10-02T15:00:00Z,2019-10-02T14:00:00Z,23.1,0,0,0,41.6,90.2,939.0,285,2.9
20958,2021-05-22T08:00:00Z,2021-05-22T07:00:00Z,31.4,314,631,938,35.4,39.7,934.4,289,3.8
17981,2021-01-18T07:00:00Z,2021-01-18T06:00:00Z,28.4,314,561,736,23.7,44.8,939.7,156,2.4
8601,2019-12-24T11:00:00Z,2019-12-24T10:00:00Z,27.8,95,0,95,37.4,46.7,937.9,225,1.2
18675,2021-02-16T05:00:00Z,2021-02-16T04:00:00Z,25.0,350,206,485,20.5,40.7,940.3,53,1.0
17322,2020-12-21T20:00:00Z,2020-12-21T19:00:00Z,15.6,0,0,0,6.3,31.2,940.3,97,1.9
3356,2019-05-19T22:00:00Z,2019-05-19T21:00:00Z,24.6,0,0,0,24.1,66.3,948.5,344,2.0

In [11]:
df.shape

(26349, 11)

In [12]:
old_names = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity', 'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names = ['PeriodEnd','PeriodStart','Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation', 'Humidity', 'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [13]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,12.8,6,17,7,7.8,61.1,956.3,96,3.4
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,13.2,86,171,130,7.6,60.3,957.1,96,3.9
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,15.0,88,771,387,7.6,54.7,957.5,97,4.0
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,18.3,107,883,591,7.7,46.0,957.5,99,3.7
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,21.6,121,930,741,7.7,38.8,957.6,102,3.5

In [14]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26349 entries, 0 to 26348
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26349 non-null  object
 1   PeriodStart    26349 non-null  object
 2   Temperature    26349 non-null  float64
 3   DHI            26349 non-null  int64
 4   DNI            26349 non-null  int64
 5   Radiation      26349 non-null  int64
 6   Precipitation  26349 non-null  float64
 7   Humidity       26349 non-null  float64
 8   Pressure       26349 non-null  float64
 9   WindDirection  26349 non-null  int64
 10  WindSpeed      26349 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

In [15]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)

In [30]:
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

In [31]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26349 entries, 0 to 26348
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26349 non-null  datetime64[ns]
 1   PeriodStart    26349 non-null  datetime64[ns]
 2   Temperature    26349 non-null  float64
 3   DHI            26349 non-null  int64
 4   DNI            26349 non-null  int64
 5   Radiation      26349 non-null  float64
 6   Precipitation  26349 non-null  float64
 7   Humidity       26349 non-null  int32
 8   Pressure       26349 non-null  float64
 9   WindDirection  26349 non-null  float64
 10  WindSpeed      26349 non-null  float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(2)
memory usage: 2.1 MB

In [32]:
# display top 6 rows
df.head(6)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31 02:00:00,2018-12-31 01:00:00,12.8,6,17,7.0,7.8,61,956.3,96.0,3.4
1,2018-12-31 03:00:00,2018-12-31 02:00:00,13.2,86,171,130.0,7.6,60,957.1,96.0,3.9
2,2018-12-31 04:00:00,2018-12-31 03:00:00,15.0,88,771,387.0,7.6,54,957.5,97.0,4.0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,18.3,107,883,591.0,7.7,46,957.5,99.0,3.7
4,2018-12-31 06:00:00,2018-12-31 05:00:00,21.6,121,930,741.0,7.7,38,957.6,102.0,3.5
5,2018-12-31 07:00:00,2018-12-31 06:00:00,23.8,142,924,819.0,7.9,33,957.1,102.0,3.3

In [33]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [34]:
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,12.8,6,17,7.0,7.8,61,956.3,96.0,3.4,2018,2018,12,12,1,2
1,2018-12-31 03:00:00,2018-12-31 02:00:00,13.2,86,171,130.0,7.6,60,957.1,96.0,3.9,2018,2018,12,12,2,3
2,2018-12-31 04:00:00,2018-12-31 03:00:00,15.0,88,771,387.0,7.6,54,957.5,97.0,4.0,2018,2018,12,12,3,4
3,2018-12-31 05:00:00,2018-12-31 04:00:00,18.3,107,883,591.0,7.7,46,957.5,99.0,3.7,2018,2018,12,12,4,5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,21.6,121,930,741.0,7.7,38,957.6,102.0,3.5,2018,2018,12,12,5,6

In [35]:
# create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    elif row['HourPS'] == 6 and row['HourPE'] == 7 and row['Radiation'] > 0:
        value= '07:00:00'
    return value

In [36]:
#Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
0,2018-12-31 02:00:00,2018-12-31 01:00:00,12.8,6,17,7.0,7.8,61,956.3,96.0,3.4,2018,2018,12,12,1,2,0
1,2018-12-31 03:00:00,2018-12-31 02:00:00,13.2,86,171,130.0,7.6,60,957.1,96.0,3.9,2018,2018,12,12,2,3,0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,15.0,88,771,387.0,7.6,54,957.5,97.0,4.0,2018,2018,12,12,3,4,0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,18.3,107,883,591.0,7.7,46,957.5,99.0,3.7,2018,2018,12,12,4,5,05:00:00
4,2018-12-31 06:00:00,2018-12-31 05:00:00,21.6,121,930,741.0,7.7,38,957.6,102.0,3.5,2018,2018,12,12,5,6,06:00:00

In [37]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    elif row['HourPS'] == 19 and row['HourPE']== 20 and row['Radiation']> 0:
        value= '20:00:00'
    return value

In [38]:
#Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [39]:
df.Sunset.unique()

array([0], dtype=int64)

In [40]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26349 entries, 0 to 26348
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26349 non-null  datetime64[ns]
 1   PeriodStart    26349 non-null  datetime64[ns]
 2   Temperature    26349 non-null  float64
 3   DHI            26349 non-null  int64
 4   DNI            26349 non-null  int64
 5   Radiation      26349 non-null  float64
 6   Precipitation  26349 non-null  float64
 7   Humidity       26349 non-null  int32
 8   Pressure       26349 non-null  float64
 9   WindDirection  26349 non-null  float64
 10  WindSpeed      26349 non-null  float64
 11  YearPS         26349 non-null  int64
 12  YearPE         26349 non-null  int64
 13  MonthPS        26349 non-null  int64
 14  MonthPE        26349 non-null  int64
 15  HourPS         26349 non-null  int64
 16  HourPE         26349 non-null  int64
 17  Sunrise        26349 non-null  object
 18  Sunset         26349 non-null  int64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(9), object(1)
memory usage: 3.7+ MB

In [41]:
# changing integer values to datetime format
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [42]:
# show summary of our dataframe
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14127 entries, 0 to 26339
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      14127 non-null  datetime64[ns]
 1   PeriodStart    14127 non-null  datetime64[ns]
 2   Temperature    14127 non-null  float64
 3   DHI            14127 non-null  int64
 4   DNI            14127 non-null  int64
 5   Radiation      14127 non-null  float64
 6   Precipitation  14127 non-null  float64
 7   Humidity       14127 non-null  int32
 8   Pressure       14127 non-null  float64
 9   WindDirection  14127 non-null  float64
 10  WindSpeed      14127 non-null  float64
 11  YearPS         14127 non-null  int64
 12  YearPE         14127 non-null  int64
 13  MonthPS        14127 non-null  int64
 14  MonthPE        14127 non-null  int64
 15  HourPS         14127 non-null  int64
 16  HourPE         14127 non-null  int64
 17  Sunrise        14127 non-null  object
 18  Sunset         14127 non-null  int64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(9), object(1)
memory usage: 2.1+ MB

In [43]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
10785,2020-03-24 11:00:00,2020-03-24 10:00:00,35.0,367,125,440.0,27.1,19,932.9,266.0,1.3,2020,2020,3,3,10,11,0,0
3732,2019-06-04 14:00:00,2019-06-04 13:00:00,29.5,13,17,15.0,41.3,59,934.2,273.0,6.0,2019,2019,6,6,13,14,0,0
11184,2020-04-10 02:00:00,2020-04-10 01:00:00,24.3,46,2,46.0,18.2,47,939.3,111.0,1.1,2020,2020,4,4,1,2,0,0
14880,2020-09-11 02:00:00,2020-09-11 01:00:00,24.3,52,0,52.0,53.1,87,930.8,129.0,1.5,2020,2020,9,9,1,2,0,0
18437,2021-02-06 07:00:00,2021-02-06 06:00:00,26.3,220,806,864.0,10.7,27,941.4,80.0,4.2,2021,2021,2,2,6,7,07:00:00,0
105,2019-01-04 11:00:00,2019-01-04 10:00:00,29.0,138,626,411.0,13.6,31,953.4,173.0,0.8,2019,2019,1,1,10,11,0,0
14122,2020-08-10 12:00:00,2020-08-10 11:00:00,24.0,53,0,53.0,56.3,84,930.6,257.0,5.4,2020,2020,8,8,11,12,0,0
9827,2020-02-13 13:00:00,2020-02-13 12:00:00,27.8,52,63,63.0,19.1,33,940.2,61.0,1.8,2020,2020,2,2,12,13,0,0
4660,2019-07-13 06:00:00,2019-07-13 05:00:00,27.1,462,97,551.0,47.3,70,936.2,251.0,6.1,2019,2019,7,7,5,6,06:00:00,0
22428,2021-07-22 14:00:00,2021-07-22 13:00:00,22.7,10,0,10.0,47.5,89,928.4,261.0,7.4,2021,2021,7,7,13,14,0,0

In [45]:
# convert datetime column of endperiod to just date
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

d:\Omdena\mlops-course\Assignments\Assignment-3\fast-heroku\venv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# 
df_new1 = df_new.set_index(dt_index)

In [47]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2018-12-31,2018-12-31 02:00:00,2018-12-31 01:00:00,12.8,6,17,7.0,7.8,61,956.3,96.0,3.4,2018,2018,12,12,1,2,0,0,2018-12-31
2018-12-31,2018-12-31 03:00:00,2018-12-31 02:00:00,13.2,86,171,130.0,7.6,60,957.1,96.0,3.9,2018,2018,12,12,2,3,0,0,2018-12-31
2018-12-31,2018-12-31 04:00:00,2018-12-31 03:00:00,15.0,88,771,387.0,7.6,54,957.5,97.0,4.0,2018,2018,12,12,3,4,0,0,2018-12-31
2018-12-31,2018-12-31 05:00:00,2018-12-31 04:00:00,18.3,107,883,591.0,7.7,46,957.5,99.0,3.7,2018,2018,12,12,4,5,05:00:00,0,2018-12-31
2018-12-31,2018-12-31 06:00:00,2018-12-31 05:00:00,21.6,121,930,741.0,7.7,38,957.6,102.0,3.5,2018,2018,12,12,5,6,06:00:00,0,2018-12-31

In [48]:
# 
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14127 entries, 2018-12-31 to 2022-01-01
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      14127 non-null  datetime64[ns]
 1   PeriodStart    14127 non-null  datetime64[ns]
 2   Temperature    14127 non-null  float64
 3   DHI            14127 non-null  int64
 4   DNI            14127 non-null  int64
 5   Radiation      14127 non-null  float64
 6   Precipitation  14127 non-null  float64
 7   Humidity       14127 non-null  int32
 8   Pressure       14127 non-null  float64
 9   WindDirection  14127 non-null  float64
 10  WindSpeed      14127 non-null  float64
 11  YearPS         14127 non-null  int64
 12  YearPE         14127 non-null  int64
 13  MonthPS        14127 non-null  int64
 14  MonthPE        14127 non-null  int64
 15  HourPS         14127 non-null  int64
 16  HourPE         14127 non-null  int64
 17  Sunrise        14127 non-null  object
 18  Sunset         14127 non-null  int64
 19  Date           14127 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int64(9), object(1)
memory usage: 2.2+ MB

In [49]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [50]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14127 entries, 2018-12-31 to 2022-01-01
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        14127 non-null  datetime64[ns]
 1   PeriodStart      14127 non-null  datetime64[ns]
 2   Temperature      14127 non-null  float64
 3   DHI              14127 non-null  int64
 4   DNI              14127 non-null  int64
 5   Radiation        14127 non-null  float64
 6   Precipitation    14127 non-null  float64
 7   Humidity         14127 non-null  int32
 8   Pressure         14127 non-null  float64
 9   WindDirection    14127 non-null  float64
 10  WindSpeed        14127 non-null  float64
 11  YearPS           14127 non-null  int64
 12  YearPE           14127 non-null  int64
 13  MonthPS          14127 non-null  int64
 14  MonthPE          14127 non-null  int64
 15  HourPS           14127 non-null  int64
 16  HourPE           14127 non-null  int64
 17  Sunrise          14127 non-null  object
 18  Sunset           14127 non-null  int64
 19  Date             14127 non-null  datetime64[ns]
 20  Daily_radiation  14127 non-null  float64
 21  Daily_DNI        14127 non-null  float64
 22  Daily_DHI        14127 non-null  float64
 23  Daily_Temp       14127 non-null  float64
 24  Daily_Precip     14127 non-null  float64
 25  Daily_Humidity   14127 non-null  float64
 26  Daily_Pressure   14127 non-null  float64
 27  Daily_WindDir    14127 non-null  float64
 28  Daily_WindSpeed  14127 non-null  float64
dtypes: datetime64[ns](3), float64(15), int32(1), int64(9), object(1)
memory usage: 3.2+ MB

In [51]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

In [52]:
# display first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 02:00:00,12.8,6,17,7.0,7.8,61,956.3,96.0,3.4,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 03:00:00,13.2,86,171,130.0,7.6,60,957.1,96.0,3.9,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 04:00:00,15.0,88,771,387.0,7.6,54,957.5,97.0,4.0,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 05:00:00,18.3,107,883,591.0,7.7,46,957.5,99.0,3.7,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 06:00:00,21.6,121,930,741.0,7.7,38,957.6,102.0,3.5,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 07:00:00,23.8,142,924,819.0,7.9,33,957.1,102.0,3.3,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 08:00:00,24.9,146,920,825.0,8.1,30,956.0,101.0,3.0,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 09:00:00,26.0,306,499,655.0,8.3,26,954.9,100.0,2.8,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 10:00:00,26.3,367,53,400.0,8.5,27,954.4,96.0,2.5,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2018-12-31,2018-12-31 11:00:00,25.7,243,19,252.0,8.8,31,954.4,88.0,2.2,...,2018-12-31,412.0,435.0,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667

In [53]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14127 entries, 2018-12-31 to 2022-01-01
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        14127 non-null  datetime64[ns]
 1   Temperature      14127 non-null  float64
 2   DHI              14127 non-null  int64
 3   DNI              14127 non-null  int64
 4   Radiation        14127 non-null  float64
 5   Precipitation    14127 non-null  float64
 6   Humidity         14127 non-null  int32
 7   Pressure         14127 non-null  float64
 8   WindDirection    14127 non-null  float64
 9   WindSpeed        14127 non-null  float64
 10  MonthPE          14127 non-null  int64
 11  Date             14127 non-null  datetime64[ns]
 12  Daily_radiation  14127 non-null  float64
 13  Daily_DNI        14127 non-null  float64
 14  Daily_DHI        14127 non-null  float64
 15  Daily_Temp       14127 non-null  float64
 16  Daily_Precip     14127 non-null  float64
 17  Daily_Humidity   14127 non-null  float64
 18  Daily_Pressure   14127 non-null  float64
 19  Daily_WindDir    14127 non-null  float64
 20  Daily_WindSpeed  14127 non-null  float64
dtypes: datetime64[ns](2), float64(15), int32(1), int64(3)
memory usage: 2.3 MB

In [54]:
# dropping ALL duplicate values exceept the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

In [55]:
# show the number of rows and columns available
new_df.shape

(1098, 21)

In [56]:
# 
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 13:00:00,23.4,15,25,18.0,9.3,40,954.8,65.0,2.0,...,2018-12-31,412.000000,435.000000,145.416667,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667
2019-01-01,2019-01-01 13:00:00,26.7,13,56,19.0,10.2,29,954.2,304.0,0.7,...,2019-01-01,455.083333,619.833333,100.666667,22.683333,8.966667,35.916667,955.850000,140.250000,2.325000
2019-01-02,2019-01-02 13:00:00,27.6,14,89,23.0,12.6,34,954.2,313.0,1.1,...,2019-01-02,453.500000,609.833333,100.000000,23.400000,10.466667,38.500000,955.583333,163.083333,1.550000
2019-01-03,2019-01-03 13:00:00,28.0,15,66,22.0,14.1,33,954.5,295.0,1.5,...,2019-01-03,448.083333,586.166667,107.666667,23.775000,13.091667,39.583333,956.275000,170.666667,1.516667
2019-01-04,2019-01-04 13:00:00,27.8,15,74,23.0,13.9,36,953.3,262.0,1.0,...,2019-01-04,447.750000,581.750000,111.250000,24.216667,13.433333,42.333333,955.191667,137.833333,2.116667
2019-01-05,2019-01-05 13:00:00,25.6,16,48,22.0,16.0,48,951.8,289.0,2.2,...,2019-01-05,435.333333,515.666667,129.583333,23.875000,15.425000,46.500000,953.650000,202.416667,1.816667
2019-01-06,2019-01-06 13:00:00,25.2,17,68,24.0,12.8,42,951.1,327.0,2.2,...,2019-01-06,436.416667,508.583333,134.750000,23.283333,13.466667,46.000000,952.475000,140.500000,1.666667
2019-01-07,2019-01-07 13:00:00,25.0,17,89,27.0,16.1,44,951.3,29.0,1.8,...,2019-01-07,446.333333,565.250000,118.000000,22.966667,14.750000,48.166667,952.233333,72.000000,2.841667
2019-01-08,2019-01-08 13:00:00,25.4,17,99,29.0,12.8,46,951.0,331.0,2.1,...,2019-01-08,457.000000,604.250000,104.666667,23.083333,12.800000,46.916667,952.841667,173.416667,2.083333
2019-01-09,2019-01-09 13:00:00,26.8,18,92,29.0,13.4,37,950.6,286.0,1.5,...,2019-01-09,455.666667,582.500000,112.416667,23.291667,11.916667,43.833333,952.125000,157.250000,1.566667

In [57]:
# list out the column names
new_df.columns

Index(['PeriodEnd', 'Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [59]:
# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]

In [60]:
# print the first 5 rows
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2018-12-31,12,2018-12-31,21.333333,8.208333,40.166667,956.008333,93.166667,3.016667,435.000000,145.416667,412.000000
2019-01-01,1,2019-01-01,22.683333,8.966667,35.916667,955.850000,140.250000,2.325000,619.833333,100.666667,455.083333
2019-01-02,1,2019-01-02,23.400000,10.466667,38.500000,955.583333,163.083333,1.550000,609.833333,100.000000,453.500000
2019-01-03,1,2019-01-03,23.775000,13.091667,39.583333,956.275000,170.666667,1.516667,586.166667,107.666667,448.083333
2019-01-04,1,2019-01-04,24.216667,13.433333,42.333333,955.191667,137.833333,2.116667,581.750000,111.250000,447.750000

In [61]:
# show the number of rows and column
final_df.shape

(1098, 11)

In [62]:
# save cleaned dataset
final_df.to_csv('../datasets/cleaned/solar_irradiation.csv')